*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --size:30px;
    
}
.container{
    background-color: blue;
    width:480px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
}
.rowElement{
    width: var(--size);
    height: var(--size);
    background-color: aliceblue ;
    
}

.black{
    background-color: black;
}